<template>
    <div>
        <b-row>
              <b-col>
        <p>
            Artificial neural networks (ANN) or connectionist systems are computing systems vaguely inspired by the biological neural networks that constitute animal brains.
             Such systems "learn" to perform tasks by considering examples, generally without being programmed with task-specific rules. (Wikipedia)
        </p>
        <p>
            In short, ann provides us the ability to teach a machine to do a specific task (or more).
             It can be both complicated or very easy.
             Honestly, it won't matter to the machine.
        </p>
        <p>
            An ANN is constructed by layers.
             Those layers are there for pattern detection purposes
             (Later it would help us to filter the text).
             Each layer has its own neurons (nodes).
             Those neurons connects to neurons from the next layer and so on.
             Every connection like this has its own weight.
             The node (neuron) uses functions to decide what output it will give.
             The magic happens both at the function of the neuron and on the change of the weight.
             The changes are required to adapt the network by the examples we give it.
             Every iteration adopts it a bit more.
             The network knows when it's right or wrong because at the training stage we provide both the examples and the answers.
        </p>
        <p>
           So How does actually work?
        </p>
          </b-col>
        </b-row>
    <b-row>
    <b-col>
        <ul>
            <li>You prepare the training data (problem + result)</li>
            <li>You construct a model for textual machine learning (ANN's layers)</li>
            <li>Thise layers will map, filter, analize and search for patterns that it is trained on</li>
            <li>At first the model will output sentences but with a terrible classification precision</li>
            <li>However, after enough iterations the weights and functions will evolve and become precise</li>
            <li>Now You have your predictor!</li>
        </ul>
    </b-col>
    <b-col>
        <b-img src="@/assets/About/ann.jpg" center fluid alt="Responsive image"></b-img>
    </b-col>
    </b-row>
    </div>
</template>
