<template>
<div>
  <b-row align-v="center" align-h="center">
    <b-col>
      <div>
          <p>
        Our system is designed for every law enforcement there is. It doesn't
        matter whether you serve in a local police or in some big government
        security agency. All you have to do is to contact us regarding the
        right access to our site.
        </p>
        <p> Note: Currently the program works only with
        the English language. But because most of the messages online are in
        English as well, it remains a useful tool worldwide.
        </p>
      </div>
    </b-col>
    <b-col>
         <center><b-img src="@/assets/About/officer.jpg" fluid alt="Responsive image" width="220"></b-img></center>
    </b-col>
  </b-row>

  </div>
</template>
