<template>
  <div>
    <b-row>
      <b-col>
        <p>
          To teach the ANN to see the difference between a sentence that
          provides a crutial information and a sentence that does not. We
          trained it on a lot of examples that we classified on our own - BY
          HAND. Our source were Reddit. Its a huge international forum where it
          is possible to find a post about almost any topic. Due to this
          database we had a veriaty of text samples. Therefore the ANN could be
          trained to be prepared for major generalization.
        </p>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <p>
          The classification process included mainly tagging each sentence by a
          category. The categories were: Facts, Environment, Opinions and
          Nothing. As you can see, each cagtegory provided us different aspect
          about the suspect:
        </p>
        <ul>
          <li>
            Facts: Concrete information about the person such as look,
            education, health etc.
          </li>
          <li>
            Environment: Details about social circals and actual locations the suspect visited.
          </li>
          <li>
            Opinions: Might be political idea, preferences, passions and more.
          </li>
          <li>Nothing: anything that is non of the above.</li>
        </ul>
      </b-col>
      <b-col>
        <b-img
          src="@/assets/About/working.jpg"
          fluid
          alt="Responsive image"
        ></b-img>
      </b-col>
    </b-row>
    <br>
    <br>
    <center><h3>Let's Analyze A Post</h3>
        *Notice - those sentences are classified as a training data for the model.
    </center>
    <br>
    <b-row align-v="center">
      <b-col>
        Hi, my name is Dani. I live in Israel.
        My pet name is Rex.
        It likes long walks on the beach and eating ice cream.
        But it's favorite place is Beer-Sheva's dog park.
        I ,on the other hand, hate this place because most of the owners there are just too friendly.
      </b-col>
      <b-col>
        <ul>
        <li>Hi, my name is Dani.<b> - Category: Personal Facts</b></li>
        <li>I live in Israel.<b> - Category: Environment</b></li>
        <li>My pet name is Rex.<b> - Category: Environment</b></li>
        <li>It likes long walks on the beach and eating ice cream.<b> - Category: Nothing</b></li>
        <li>But its's favorite place is Beer-Sheva's dog park.<b> - Category: Environment</b></li>
        <li>I ,on the other hand, hate this place because most of the owners there are just too friendly.<b> - Category: Opinions</b></li>
        </ul>
      </b-col>
    </b-row>
    <br>
    <br>
    <center>
    <h3>Here you can see a real life example of our model output</h3>
    *Notice - each sentence gets a compatibility rank for every category.
    </center>
    <b-row>
      <b-col>
      <center>
       <b-img
          src="@/assets/About/segment.png"
          fluid
          alt="Responsive image"
        ></b-img>
      </center>
      </b-col>
    </b-row>
  </div>
</template>
