<template>
  <div>
    <p>
      This system lays on the simple principle of an API request. Therefore it
      is possible to adapt its functionalities to every law enforcement system
      or private detective office. All you need is a motivated programmer and to
      approach us, of course. Notice that this website is mostly for 'proof of
      ability' and not as comfortable as you might want.
    </p>
    <b-img src="@/assets/About/comfort.jpg" fluid alt="Responsive image" width=500 center></b-img>
  </div>
</template>
