<template>
  <div>
    <p>
      First thing you need to know, is that we used a convolutional neural network (CNN).
       In mathematics convolution is a mathematical operation on two functions (f and g) that produces a third function expressing how the shape of one is modified by the other.
      </p>
      <p>Convolution - check. Now let's dive into the convolutional neural network.
    </p>
    <p>
      CNNs are regularized versions of multilayer perceptrons. Multilayer
      perceptrons usually mean fully connected networks, that is, each neuron in
      one layer is connected to all neurons in the next layer. The
      "fully-connectedness" of these networks makes them prone to overfitting
      data. Typical ways of regularization include adding some form of magnitude
      measurement of weights to the loss function. CNNs take a different
      approach towards regularization: they take advantage of the hierarchical
      pattern in data and assemble more complex patterns using smaller and
      simpler patterns. Therefore, on the scale of connectedness and complexity,
      CNNs are on the lower extreme. (Wikipedia)
      <br><a href="https://en.wikipedia.org/wiki/Convolutional_neural_network">For More information</a>
    </p>
    <p>
        Great, Now you know what's a CNN! There are different ways to implement the CNN idea.
        The layers and their order are crucial for the algorithm success.
        Here's the implementation we use:
    <ol>
      <li><a href="#embedding">Embedding Layer</a></li>
      <li><a href="#conv1d">Conv1D</a></li>
      <li><a href="#maxpool1d">MaxPooling1D</a></li>
      <li><a href="#conv1d">Conv1D</a></li>
      <li><a href="#maxpool1d">MaxPooling1D</a></li>
      <li><a href="#conv1d">Conv1D</a></li>
      <li><a href="#globalmaxpool1d">GlobalMaxPooling1D</a></li>
      <li><a href="#dense">Dense</a></li>
      <li><a href="#dense">Dense</a></li>
    </ol>
       <center> Don't worry if you don't get it yet. You will soon! </center>
    </p>
        <br>
    <br>
    <br>
    <b-row align-v="center">
      <b-col>
    <p id="embedding">
      <b>Layer A: Embedding Layer:</b>
      <br />
       Just as you probably remember, our system splits the
      posts into seperate sentences. Those sentences are then inserted into a
      matrix as:
      <ul>
        <li>Each line represents a word. </li>
        <li> Each column represents a Word2Vec dimension.</li>
        <li> The 0 rows are just padding to make the matrix fit the standard size. </li>
      </ul>
       Confusing? We prepared a picture ->
    </p>
      </b-col>
      <b-col>
    <b-img
      src="@/assets/About/embeddingMatrix.png"
      fluid
      width="500"
      center
    ></b-img>
      </b-col>
    </b-row>
    <br>
    <br>
    <br>
    <b-row align-v="center">
      <b-col>
    <p id="conv1d">
      <b>Layer B: Conv1D</b>
      <br>The whole advantage of using CNN is that it can extract the spatial features from the data using its kernel, which other networks are unable to do.
    By that, we "summarize" the matrix (or the vectors) into a smaller one.
     If our input matrix is one dimensional it will be summarized along that single dimension.
     And if it has n dimensions then it can be summarized along all n dimensions.
    </p>
    It's much easier to understand it by applying the action on an image (image by medium.com).
    Above is a Conv2D illustration:
      </b-col>
      <b-col>
    <b-img
      src="https://miro.medium.com/max/994/0*k0YJHHjTUY1WSsT-.png"
      fluid
      width="500"
      center
    ></b-img>
    <center>*In Conv1D, kernel slides along one dimension.</center>
      </b-col>
    </b-row>
        <br>
    <br>
    <br>
    <b-row align-v="center">
      <b-col>
<p id="maxpool1d"> <b>Layer C: MaxPooling1D </b> <br>
Downsamples the input representation by taking the maximum value over the window we defined.
 The window is shifted by strides (again, defined by us).
The resulting output when using "valid" padding option has a shape of: output_shape = (input_shape - pool_size + 1) / strides)
<br><a href="https://keras.io/api/layers/pooling_layers/max_pooling1d">For More information</a>
</p>
      </b-col>
      <b-col>
<b-img
      src="@/assets/About/Maxpool.png"
      fluid
      width="500"
      center
    ></b-img>
      </b-col>
    </b-row>
        <br>
    <br>
    <br>
    <b-row align-v="center">
      <b-col>
<p id="globalmaxpool1d"><b> Layer G: GlobalMaxPooling1D</b> <br>
Downsamples the input representation by taking the maximum value over the time dimension.
<br>
So how is it different from MaxPooling1D?
<br />
GlobalMaxPooling1D for temporal data takes the max vector over the steps dimension. So a matrix with shape [10, 4, 10] becomes a matrix with shape [10, 10] after global pooling. MaxPooling1D takes the max over the steps too but constrained to a pool_size for each stride. So a [10, 4, 10] matrix with pooling_size=2 and stride=1 is a [10, 3, 10] matrix after MaxPooling(pooling_size=2, stride=1)
</p>
</b-col>
    </b-row>
        <br>
    <br>
    <br>
    <b-row align-v="center">
      <b-col>
<p id="dense"><b> Layer H: Dense</b> <br />
          Dense layer is a regular deeply connected (fully connected) neural network layer.
The output shape of the Dense layer will be affected by the number of neuron specified in the Dense layer.
 For example, if the input shape is (8,) and number of neurons is 16, then the output shape is (16,).
 This is a linear operation in which every input is connected to every output by a weight (n_inputs * n_outputs weights).
 This layer must use an Activation function.
 </p>
</b-col>
    </b-row>
        <br>
    <br>
    <br>
    <b-row align-v="center">
      <b-col>
 <p> <b> Activation function</b><br>
         The activation function of a node defines the output of that node, given an input or set of inputs.
         There are a lot of options, you can look for some of them
<a href="https://en.wikipedia.org/wiki/Activation_function#Alternative_structures">here</a>.
<br>We used only 2 of those options: relu and sofmax.

<ul>
<li>relu (rectified linear unit): also known as a ramp function.</li>
<li>softmax:
The Softmax regression is a form of logistic regression that normalizes an input value into a vector of values that follows a probability distribution whose total sums up to 1. The output values are between the range [0,1].
This allows us to determine the compatibility of the data to a specific node. This node represents the categories.</li>
</ul>
</p>
      </b-col>
      <b-col>
<center>relu function demonstration:</center>
    <b-img
      src="@/assets/About/relu.png"
      fluid
      width="500"
      center
    ></b-img>
      </b-col>
    </b-row>
  </div>
</template>
