<template>
    <div>
    <b-row>
     <b-col>
        <p>
            Our development allows to investigate online users,
             but not in the traditional way (no ips or network foot tracking).
        </p>
        <p>
             Suppose you are a detective.
             You get some complains about an evil user in some social media platform.
             This user might post some criminal data as well as disturbing content.
             Therefore you have to arrest him!
        </p>
        <p>
             But how will you find them (especially if they hide their addresses pretty well)?
             Well, instead of reading huge amounts of information this criminal could post over the years, all you have to do is to insert his posts into our model.
        </p>
        <ul>
             <li>It's an artificial neural network model which is taught to detect this exact kind of information.</li>
             <li>It uses advanced word categorization and lets you sort the data however you want.</li>
        </ul>
     </b-col>
     <b-col>
         <b-img src="@/assets/About/search.jpg" fluid alt="Responsive image"></b-img>
     </b-col>
    </b-row>
    <b-row>
         <b-col>
              <center>
        <p>
             <b>
             In this scientific project we create new capabilities for the people that care for us the most.
             </b>
        </p>
              </center>
     </b-col>
     </b-row>
    </div>
</template>
