<template>
  <div>
    <center>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/4vuxJ40mcls"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    </center>
  </div>
</template>
