<template>
    <div>
        <center>As the model was ready for the training, there were just a few more things left to be done.</center>
        <br>
        <b-row align-v="center">
            <b-col>
         First, we used our classification method and classified - by hand - over 3k samples of sentences.
         A special classification developer program was created for this purpose.
         Our intension was to turn the dataset preparing process to be less hard.
         As about the data source, we used Reddit (an international forums website with millions of topics).
          This kind of variety had a possitive affect on the generalization of our model.
         </b-col>
             <b-col>
                 <center>Dataset file example:</center>
         <b-img
      src="@/assets/About/classifying.png"
      fluid
      width="500"
      center
    ></b-img>
             </b-col>
        </b-row>
        <br>
        <b-row align-v="center">
            <b-col>
        When the data was ready we gave each word a unique token.
         With this token we could build matrices of sentences.
         This matrices along with the correct answers were inserted into the model for training purposes.
         <br>Note: zeros were the result of matrix padding.
            </b-col>
            <b-col>
                  <b-img
      src="@/assets/About/trainData.png"
      fluid
      width="300"
      center
    ></b-img>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <br>
                <br>
    <center><b>The results happened to be satisfying. <br>For 200 sentences we got:</b></center>
                  <b-img
      src="@/assets/About/results.jpeg"
      fluid
      width="300"
      center
    ></b-img>
            </b-col>
        </b-row>
    </div>
</template>
