<template>
  <div>
    <b-row>
      <b-col cols="8">
        <p>
          Try to describe a meaning of a word. What the hell is a meaning
          anyway? at least in a sense that a computer will get. Hard question
          right? Well fortunately there's an answer.
        </p>
        <p>
          Our system is using a method called Word2Vec. To describe it the best,
          lets analyze the word "dog". In this case to understand the meaning we
          will have to give it a rank by different parameters. Just like in the
          game "Blind Man's Bluff" but with a percentage answer instead of
          binary. Lets ask:
        </p>
        <ul>
          <li>Is it alive? - 100%</li>
          <li>Is it big? - 20%</li>
          <li>Is it quiet? - 2%</li>
          <li>Is it dangerous? - 60%</li>
          <li>And so on...</li>
        </ul>
         </b-col>
      <b-col>
        <b-img
          src="@/assets/About/Blind_Mans_Bluff.jpg"
          fluid
          alt="Responsive image"
        ></b-img>
      </b-col>
    </b-row>
        <b-row>
      <b-col>
        <p>
          Our purpose is to give the word a meaning by deifferent describers, or point of views.
          Note: We have to use the same describers each time to keep track of word gapes.
        </p>
      </b-col>
        </b-row>
            <br>
    <br>
    <center><h3>Mathematical Explanation</h3></center>
    <br>
    <b-row align-v="center">
      <b-col>
        <b-img
          src="@/assets/About/word2vec_graph.png"
          fluid
          alt="Responsive image"
        ></b-img>
      </b-col>
      <b-col>
        <p>
          From the mathematical point of view. We can say that each parameter
          is a dimension while the word itself represents as a vector.
        </p>
        <p>
          Example:
          <ul>
          <li>government -0.219 -0.15314 0.028578 0.19314 0.017295 0.2656
          -1.2929 ...</li>
          <li>time -0.024221 -0.034855 0.3571 -0.02155 -0.54804 0.31822
          0.012929 ...</li>
          </ul>
        </p>
        <p>
          Now, it is possible to check word similarities by vectorial distances in space.
          And this is not the only functionality it
          provides. As you remember, we needed to find some sort of meaning. Well,
          now we have it. This meaning allows the machine to understand, in some sort of a way, both the word
          and the sentence (by the right ANN model).
        </p>
        <p>
          Lets take a look at the example on the left: X is Cuteness, Y is Size. Clearly
          crocadile is average size and not cute at all! Humster, on the other
          hand, is small but really cute. Horse is average by both parameters and
          so on... This is an example with only 2 dimension. We use 300!
        </p>
      </b-col>
    </b-row>
  </div>
</template>
