<template>
  <div>
    <b-modal id="modal-audience" title="Audience" size="lg" hide-footer>
      <audience />
    </b-modal>
        <b-modal id="modal-scheme1" title="System" size="lg" hide-footer>
      <scheme1 />
    </b-modal>
        <b-modal id="modal-scheme2" title="Functionality" size="lg" hide-footer>
      <scheme2 />
    </b-modal>
    <b-modal
      id="modal-ourAnn"
      title="Convolutional Neural Network"
      size="xl"
      hide-footer
      scrollable
    >
      <ourAnn />
    </b-modal>
    <b-modal id="modal-train" title="Training Process" size="xl" hide-footer>
      <train />
    </b-modal>
    <b-modal id="modal-purpose" title="Purpose" size="xl" hide-footer>
      <purpose />
    </b-modal>
    <b-modal
      id="modal-ann"
      title="Artificial Neural Network"
      size="xl"
      hide-footer
    >
      <ann />
    </b-modal>
    <b-modal
      id="modal-classifications"
      title="Classification Method"
      size="xl"
      hide-footer
      scrollable
    >
      <classifications />
    </b-modal>
    <b-modal
      id="modal-word2vec"
      title="Word2Vec"
      size="xl"
      hide-footer
      scrollable
    >
      <word2vec />
    </b-modal>
    <b-modal id="modal-tour" title="Tour" size="lg" hide-footer>
      <tour />
    </b-modal>
    <b-container class="bv-example-row">
      <b-row class="text-center">
        <b-col></b-col>
        <b-col cols="8">
          <b-carousel
            id="carousel-1"
            :interval="0"
            controls
            indicators
            background="#ababab"
            img-width="200"
            img-height="200"
            style="text-shadow: 1px 1px 2px #333;"
          >
            <b-carousel-slide
              class="carousel"
              img-src="@/assets/About/code.jpg"
            >
              <p class="About" id="law">
                IDA - Identification Detection and Analyses of personal data.
              </p>
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <div class="About">
                <b>Presented By</b>
                <ul>
                  Daniel Fridman & Matan Ellhayani
                </ul>
                <b>Supervised By Dr. Ami Hauptman</b>
              </div>
              <br />
              <br />
            </b-carousel-slide>
            <b-carousel-slide class="carousel" img-src="@/assets/About/law.jpg">
              <p class="About" id="law">
                Welcome to IDA
              </p>
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <div class="About">
                A system that every law infocement agancy should use. We provide
                elegeant solution to the hard sisyphean and long work of reading
                and investigating online messages.
              </div>
              <br />
              <b-button v-b-modal.modal-audience variant="primary"
                >I Want Details</b-button
              >
              <br />
            </b-carousel-slide>
            <b-carousel-slide img-src="@/assets/About/busted.jpg">
              <p class="About">
                This system is developed with one purpose.
                 To analyze posts and detect any kind of information regarding an individual's connection to the real world.
              </p>
              <br />
              <b-button v-b-modal.modal-purpose variant="primary"
                >But how?</b-button
              >

              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br /><br />
            </b-carousel-slide>
            <b-carousel-slide img-src="@/assets/About/ml.jpg">
              <b-row>
                <b-col>
                  <b-button
                    v-b-modal.modal-ann
                    variant="primary"
                    v-b-popover.hover.top="'Read me first!'"
                    >Artificial Neural Network</b-button
                  >
                </b-col>
                <b-col>
                  <b-button
                    v-b-modal.modal-word2vec
                    variant="primary"
                    v-b-popover.hover.top="'I am third!'"
                    >Word2Vec Details</b-button
                  >
                </b-col>
                <b-col>
                  <b-button
                    v-b-modal.modal-classifications
                    variant="primary"
                    v-b-popover.hover.top="'I am forth!'"
                    >Classification Method</b-button
                  >
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <br />
                  <b-button
                    v-b-modal.modal-ourAnn
                    variant="primary"
                    v-b-popover.hover.top="'Read me second!'"
                    >Convolutional Neural Network</b-button
                  ></b-col
                >
                <b-col></b-col>
                <b-col>
                  <br />
                  <b-button
                    v-b-modal.modal-train
                    variant="primary"
                    v-b-popover.hover.top="'And I am the last one!'"
                    >Training Process Explanation</b-button
                  ></b-col
                >
              </b-row>
              <br />
              <br />
              <br />
              <br />
              <br />
              <b-row>
                <p class="About">
                  We have used the top-notch ANN technologies as well as state
                  of the art Word2Vec dictionary
                </p>
              </b-row>
            </b-carousel-slide>
            <b-carousel-slide img-src="@/assets/About/scheme.jpg">
            <p class="About">
                Let's take a look at some general schemes and sketches
              </p>
              <br />
              <b-row>
                <b-col>
              <b-button v-b-modal.modal-scheme1 variant="primary"
                >The System</b-button
              >
                </b-col>
                <b-col>
              <b-button v-b-modal.modal-scheme2 variant="primary"
                >Functionality</b-button
              >
                </b-col>
              </b-row>
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
            </b-carousel-slide>
            <b-carousel-slide img-src="@/assets/About/welcome.jpg">
              <p class="About">
                So welcome to the next big thing. Come in and take a tour!
              </p>
              <br />
              <b-button v-b-modal.modal-tour variant="primary"
                >Strat your tour</b-button
              >
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
            </b-carousel-slide>
          </b-carousel>
        </b-col>
        <b-col></b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import audience from '@/components/About/audience.vue'
import purpose from '@/components/About/purpose.vue'
import ann from '@/components/About/ann.vue'
import ourAnn from '@/components/About/ourAnn.vue'
import train from '@/components/About/train.vue'
import classifications from '@/components/About/classifications.vue'
import word2vec from '@/components/About/word2vec.vue'
import tour from '@/components/About/tour.vue'
import scheme1 from '@/components/About/scheme1.vue'
import scheme2 from '@/components/About/scheme2.vue'

export default {
  data () {
    return {}
  },
  components: {
    audience,
    purpose,
    ann,
    ourAnn,
    train,
    classifications,
    word2vec,
    scheme1,
    scheme2,
    tour
  }
}
</script>
