<template>
  <div>
    <APIdemo />
  </div>
</template>

<script>
import APIdemo from '@/components/APIdemo.vue'
import { mapState } from 'vuex'

export default {
  name: 'Demo',
  computed: {
    ...mapState(['status'])
  },
  components: {
    APIdemo
  }
}
</script>
