<template>
  <div class="home">
    <b-overlay :show="(status !== 'Data has been loaded successfully') && (status !== 'No data loaded') && (status !== 'Search Results Are Ready')" rounded="sm">
    <div>
      <b-card no-body>
        <b-tabs pills card vertical fill>
          <b-tab title="Reddit"><b-card-text><redditClient /></b-card-text></b-tab>
          <b-tab title="API"><b-card-text><apiClient /></b-card-text></b-tab>
        </b-tabs>
      </b-card>
    </div>
    </b-overlay>
  </div>
</template>

<script>
import redditClient from '@/components/redditClient.vue'
import apiClient from '@/components/apiClient.vue'
// import fileClient from '@/components/fileClient.vue'
import { mapState } from 'vuex'

export default {
  name: 'Home',
  computed: {
    ...mapState(['status'])
  },
  components: {
    redditClient,
    apiClient
    // fileClient
  }
}
</script>
