<template>
  <div>
    <b-overlay :show="loading" rounded="sm">
      <div id="search">
        <br />
        <b-container class="text-center">
          <b-row>
            <b-col>
              <h1>Search</h1>
              <h6>Search by Word2Vec technology.</h6>
              <h6>We will suggest similar words that worth checking out.</h6>
              <h6><b>Note - This might take a minute.</b></h6>
            </b-col>
            <b-col cols="12" md="auto">
              <b-row>
                <b-col cols="8">
              <b-form-input
                id="search-textarea"
                v-model="word"
                placeholder="Enter word of interest"
                rows="1"
                max-rows="1"
              ></b-form-input></b-col>
              <b-col>
                <b-button
                  variant="primary"
                  @click="get_similar_words()"
                  :disabled="word == ''"
                  >Search</b-button
                >
                </b-col>
              </b-row>
              <b-row>--------------------------------------------------------------------------------</b-row>
              <b-row align-v="center">
                <b-col cols="7" align-self="center" align-v="center">
                  <label for="sb-inline"
                    >Amount of top results:
                  </label>
                  </b-col>
                  <b-col align-self="center">
                  <b-form-spinbutton
                    id="sb-inline"
                    v-model="top"
                    inline
                    min="1"
                    max="10"
                    step="1"
                  ></b-form-spinbutton>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </b-container>
        <br />
      </div>
      <div v-if="options.length">
        <b-card class="text-center">
        <h6>
          Here are some words that might help your search. Select those you want
          to use:
        </h6>
        <div>
          <b-form-group>
            <b-form-checkbox-group
              id="checkbox-group-1"
              v-model="selected"
              :options="options"
              name="flavour-1"
            ></b-form-checkbox-group>
          </b-form-group>
        </div>
        <div>
          Selected: <strong>{{ selected }}</strong>
          <br />
          <b-button
            variant="primary"
            @click="search()"
            :disabled="selected.length < 1"
            >Those Are The Words I Want to Search. Let's Start!</b-button
          >
        </div>
        </b-card>
      </div>
      <br />
      <div v-if="searchResults.length">
        <h3>Results</h3>
        <rankedTable
          :table_key="0"
          :sentences="searchResults"
          :search_segments="segment_ids"
        />
        <!-- table key is even for search -->
      </div>
      <div v-if="!results">
        <h2>Ops! Sorry No Results :(</h2>
      </div>
    </b-overlay>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import rankedTable from '@/components/rankedTable.vue'

export default {
  data () {
    return {
      word: '',
      top: 5,
      requestType: 'similarity',
      loading: false,
      selected: [], // Must be an array reference!
      options: [],
      searchResults: [],
      results: true, // did we found something?
      segment_ids: []
    }
  },
  computed: {
    ...mapState(['status', 'similarWords', 'segments'])
  },
  components: {
    rankedTable
  },
  mounted () {
    this.Toast()
  },
  methods: {
    ...mapActions(['makeApiRequest', 'searchTree']),
    get_similar_words () {
      this.loading = true
      this.selected = []
      this.results = true
      var apiString = '{"search":"'
      apiString = apiString + this.word + '", "top":' + this.top + '}'
      var requestData = []
      requestData.push(this.requestType)
      requestData.push(apiString)
      this.makeApiRequest(requestData)
      // this.loading = false
    },
    similarWords_to_array () {
      var arr = []
      for (var word of this.similarWords.neighbors) {
        var option = {}
        option.text = word
        option.value = word
        arr.push(option)
      }
      this.options = arr
    },
    async search () {
      // This method creates new tree!
      this.searchResults = await this.searchTree(this.selected)
    },
    Toast (append = false) {
      this.$bvToast.toast('The Search happens through our dictionary - Which means that if it is not there, You better use ctrl-f on the Table page :)', {
        title: 'Good to Know',
        autoHideDelay: 15000,
        appendToast: append
      })
    },
    reset () {
      this.word = ''
      this.top = 5
      this.loading = false
      this.selected = []
      this.options = []
      this.searchResults = []
      this.results = true
      this.segment_ids = []
    }
  },
  watch: {
    similarWords: {
      handler () {
        if (this.similarWords.neighbors.length < 1) {
          this.results = false
        } else {
          this.similarWords_to_array()
        }
        this.loading = false
      }
    },
    searchResults: {
      handler () {
        if (this.searchResults.length < 1) {
          this.results = false
        }
        for (var sent of this.searchResults) {
          if (!this.segment_ids.includes(sent.segment)) {
            this.segment_ids.push(sent.segment)
          }
        }
      }
    },
    segments: {
      handler () {
        this.reset()
      }
    }
  }
}
</script>
