<template>
  <div>
    <rankedTable
    :table_key=1
    :sentences="sentences"
    :search_segments="searchlist" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import rankedTable from '@/components/rankedTable.vue'

export default {
  data () {
    return {
      sentences: [],
      searchlist: []
    }
  },
  computed: {
    ...mapState(['segments'])
  },
  components: {
    rankedTable
  },
  watch: {
    segments: {
      handler () {
        this.segmentsToSentences()
      }
    }
  },
  mounted () {
    this.segmentsToSentences()
  },
  methods: {
    segmentsToSentences () {
      this.sentences = []
      for (const seg of this.segments) {
        for (var sent of seg.sentences) {
          sent.segment = sent.segment.id
          delete sent.sid
          this.sentences.push(sent)
        }
      }
    }
  }
}
</script>
