<template>
  <div>
    <h1>API Client</h1>
    <b-form-textarea
      id='textarea'
      v-model='jsonString'
      placeholder='Enter Json Here'
      rows='1'
      max-rows='1'
    ></b-form-textarea>
    <br>
    <b-button variant="primary" @click='sendRequest(); show = true' :disabled='jsonString == []'>
      Submit
    </b-button>
    <br>
    <br>
    <div>
      <h3>Example:</h3>
      <b-row>
        <b-col cols="10">
        {{  example  }}
        </b-col>
        <b-col>
        <b-button size="sm" @click="load">Load</b-button>
        </b-col>
        </b-row>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data () {
    return {
      jsonString: '',
      example: '{"texts" : ["My name is Boris Glozmenko Antonov. I am a teacher the the Moscow school of diplomacy. My favorite color is red.", "My name is Pasha and I like mashed potatoes"]}',
      requestType: 'classification'
    }
  },
  methods: {
    ...mapActions(['makeApiRequest']),
    sendRequest () {
      var requestData = []
      requestData.push(this.requestType)
      requestData.push(this.jsonString)
      this.makeApiRequest(requestData)
    },
    load () {
      this.jsonString = this.example
    }
  }
}
</script>
