<template>
  <div>
    <h1>API Demonstration</h1>
    <b-form-textarea
      id="textarea"
      v-model="jsonString"
      placeholder="Enter Json Here"
      rows="1"
      max-rows="1"
    ></b-form-textarea>
    <br />
    <b-row class="justify-content-md-center">
        <b-col col lg="2">
    <b-button
      variant="primary"
      @click="
        apiReq()
        show = true
      "
      :disabled="jsonString == []"
    >
      Submit
    </b-button>
    </b-col>
    <b-col cols="12" md="auto"></b-col>
    <b-col col lg="2">
    <b-button
      variant="primary"
      @click="reset()" show = true>
      Reset Page
    </b-button>
    </b-col>
    </b-row>
    <br />
    <br />
    <div>
      <h3>Examples:</h3>
      <b-row>
        <b-col cols="10">
          {{ example1 }}
        </b-col>
        <b-col>
          <b-button size="sm" @click="load1">Load</b-button>
        </b-col>
      </b-row>
      <br>
      <b-row>
        <b-col cols="10">
          {{ example2 }}
        </b-col>
        <b-col>
          <b-button size="sm" @click="load2">Load</b-button>
        </b-col>
      </b-row>
      <br>
                <b>Note - The second one takes a minute</b>
    </div>
    <br>
      <b-card title="Response" v-if="response !== null">
          {{  response  }}
      </b-card>
  </div>
</template>

<script>
import { mapState } from 'vuex'
const axios = require('axios').default

export default {
  data () {
    return {
      jsonString: '',
      example1:
        '{"texts" : ["My name is Boris Glozmenko Antonov. I am a teacher the the Moscow school of diplomacy. My favorite color is red.", "My name is Pasha and I like mashed potatoes"]}',
      example2: '{"search":"football", "top":6}',
      response: null
    }
  },
  computed: {
    ...mapState(['server'])
  },
  methods: {
    reset () {
      this.jsonString = ''
      this.response = null
    },
    load1 () {
      this.jsonString = this.example1
    },
    load2 () {
      this.jsonString = this.example2
    },
    async apiReq () {
      var resp = await axios
        .post(this.server, this.jsonString, {
          headers: {
            'content-type': 'application/json'
          }
        })
        .then(function (val) {
          return val.data
        })
      this.response = resp
    }
  }
}
</script>
