<template>
    <div :key="table_key">
      <b-modal :id="'modal-' + table_key" :key="table_key+2" size="xl" hide-footer title="Segment Viewer" v-if="currSeg > -1">
        <segmentViewer
        :key="table_key+2"
        :segId='currSeg'
        :search_segments = search_segments
         />
      </b-modal>
      <keep-alive>
      <b-table
       v-b-modal="'modal-' + table_key"
       striped hover
      :items='sentences'
      :fields='fields'
      :key="table_key+2"
      @row-clicked = "setCurrSeg"
      ></b-table>
      </keep-alive>
    </div>
</template>

<script>
import segmentViewer from '@/components/segmentViewer.vue'

export default {
  data () {
    return {
      currSeg: -1,
      fields: [
        {
          key: 'content',
          sortable: true
        },
        {
          key: 'segment',
          sortable: true
        },
        {
          key: 'rankNothing',
          sortable: true
        },
        {
          key: 'rankOpinions',
          sortable: true
        },
        {
          key: 'rankEvironment',
          sortable: true
        },
        {
          key: 'rankFacts',
          sortable: true
        },
        {
          key: 'category',
          sortable: true
        }
      ]
    }
  },
  components: {
    segmentViewer
  },
  methods: {
    setCurrSeg (item) {
      this.currSeg = item.segment
      // Sentence contains segement as id
    }
  },
  props: {
    sentences: Array,
    table_key: Number,
    search_segments: Array
  }
}
</script>
