<template>
  <div>
    <b-overlay :show="loading" rounded="sm">
      <h1>Reddit Client</h1>
      <b-container fluid>
        <b-row class="justify-content-md-center">
          <b-col cols="12" md="auto">
            <b-form-input
              id="textarea"
              v-model="userName"
              placeholder="Enter Reddit Username"
              rows="1"
              max-rows="1"
            ></b-form-input>
          </b-col>
          <b-col col lg="1">
            <b-button variant="primary" @click="get_comments" :disabled='userName == ""'>Submit</b-button>
          </b-col>
        </b-row>
      </b-container>
    </b-overlay>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  data () {
    return {
      reddit: null,
      userName: '',
      requestType: 'classification',
      loading: false
    }
  },
  computed: {
    ...mapState(['status'])
  },
  mounted () {
    const Snoowrap = require('snoowrap')

    this.reddit = new Snoowrap({
      client_id: 'QVJDa7eOVX-yWQ',
      client_secret: 'aaVaZCeeEgThhmkTP5YULo2DDeg',
      password: 'Cock1234',
      user_agent: 'Redd:RubyAwardsBot:v0.1 (by /u/RubyAwardsBot)',
      username: 'RubyAwardsBot'
    })
  },
  methods: {
    ...mapActions(['makeApiRequest']),
    async get_comments () {
      this.loading = true
      var comments = []
      var redditComments = await this.reddit
        .getUser(this.userName)
        .getComments()
        .then(function (val) {
          return val
        })
      for (var comment of redditComments) {
        comments.push(comment.body)
      }
      this.loading = false
      // this.makeApiRequest(JSON.stringify({ texts: comments }))
      var jsonString = JSON.stringify({ texts: comments })
      var requestData = []
      requestData.push(this.requestType)
      requestData.push(jsonString)
      this.makeApiRequest(requestData)
    }
  }
}
</script>
