<template>
  <div :key="table_key+2">
    <div>
      <b-container class="text-center" :key="table_key+2">
        <b-row>
          <b-col><b-button @click="prevSeg" :disabled="prevBtnDisable">Previous</b-button></b-col>
          <b-col><h3>Segment Content</h3></b-col>
          <b-col><b-button @click="nextSeg" :disabled="nextBtnDisable">Next</b-button></b-col>
        </b-row>
      </b-container>
      <br>
      {{ segments[currSeg].fullsegment }}
      <br />
      <br />
      Amount of sentences: {{ segments[currSeg].sentences.length }}
      <br>
      Segment id: {{ segments[currSeg].id }}
      <br>
      <br>
      <b-container class="text-center">
      <div v-if="search_segments.length > 0">
        <b-row>
          <b-col></b-col>
          <b-col><b-button @click="prevSegSearch" :disabled="prevBtnDisableSearch">Previous</b-button></b-col>
          <b-col><h5>Search Menu</h5></b-col>
          <b-col><b-button @click="nextSegSearch" :disabled="nextBtnDisableSearch">Next</b-button></b-col>
          <b-col></b-col>
        </b-row>
      </div>
      </b-container>
    </div>
    <div>
      <h2>Includes:</h2>
      <b-table
        striped
        hover
        :items="segments[currSeg].sentences"
        :fields="fields"
      ></b-table>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      currSeg: 0,
      currSegSearchArrayIndex: 0,
      nextBtnDisable: false,
      prevBtnDisable: false,
      prevBtnDisableSearch: false,
      nextBtnDisableSearch: false,
      fields: [
        {
          key: 'content',
          sortable: true
        },
        {
          key: 'rankNothing',
          sortable: true
        },
        {
          key: 'rankOpinions',
          sortable: true
        },
        {
          key: 'rankEvironment',
          sortable: true
        },
        {
          key: 'rankFacts',
          sortable: true
        }
      ]
    }
  },
  props: {
    segId: Number,
    table_key: Number,
    search_segments: Array
  },
  computed: {
    ...mapState(['segments'])
  },
  created () {
  },
  destroyed () {
    this.currSeg = -1
  },
  mounted () {
    this.currSeg = -1
    this.currSeg = this.segId
    this.updateBtns()
    this.currSegSearchArrayIndex = this.search_segments.indexOf(this.currSeg)
  },
  methods: {
    nextSeg () {
      this.currSeg = Math.min(this.currSeg + 1, this.segments.length - 1)
    },
    prevSeg () {
      this.currSeg = Math.max(this.currSeg - 1, 0)
    },
    nextSegSearch () {
      var limit = this.search_segments.length - 1
      this.currSegSearchArrayIndex = Math.min(this.currSegSearchArrayIndex + 1, limit)
      this.currSeg = this.search_segments[this.currSegSearchArrayIndex]
    },
    prevSegSearch () {
      var limit = 0
      this.currSegSearchArrayIndex = Math.max(this.currSegSearchArrayIndex - 1, limit)
      this.currSeg = this.search_segments[this.currSegSearchArrayIndex]
    },
    updateBtns () {
      var upperSearchLimit = this.search_segments[this.search_segments.length - 1]
      var lowerSearchLimit = this.search_segments[0]
      if (this.currSeg === this.segments.length - 1) {
        this.nextBtnDisable = true
        this.nextBtnDisableSearch = true
        this.prevBtnDisable = false
        this.prevBtnDisableSearch = false
      } else if (this.currSeg === 0) {
        this.nextBtnDisable = false
        this.nextBtnDisableSearch = false
        this.prevBtnDisable = true
        this.prevBtnDisableSearch = true
      } else if (this.segments.length - 1 === 0) {
        this.prevBtnDisable = true
        this.prevBtnDisableSearch = true
        this.nextBtnDisable = true
        this.nextBtnDisableSearch = true
      } else {
        this.nextBtnDisable = false
        this.nextBtnDisableSearch = false
        this.prevBtnDisable = false
        this.prevBtnDisableSearch = false
      }
      if (this.currSeg >= upperSearchLimit || this.search_segments[this.currSegSearchArrayIndex] === upperSearchLimit) {
        this.prevBtnDisableSearch = false
        this.nextBtnDisableSearch = true
      }
      if (this.currSeg <= lowerSearchLimit || this.search_segments[this.currSegSearchArrayIndex] === lowerSearchLimit) {
        this.prevBtnDisableSearch = true
        this.nextBtnDisableSearch = false
      }
    }
  },
  watch: {
    currSeg: {
      handler: function () {
        this.updateBtns()
      }
    }
  }
}
</script>
