<template>
  <div id="app">
  <div>
  <b-navbar toggleable="lg" variant="light">
    <b-navbar-brand href="/">IDA.</b-navbar-brand>
    <b-collapse id="nav-collapse" is-nav>
    <b-nav-text>Status: {{ status }}</b-nav-text>
    <b-navbar-nav class="ml-auto" align-h='center'>
    <b-nav-text><b>{{ $route.name }}</b></b-nav-text>
    </b-navbar-nav>
    </b-collapse>
    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item to="/">Home</b-nav-item>
        <b-nav-item to="/Table">Table</b-nav-item>
        <b-nav-item to="/Search">Search</b-nav-item>
        <b-nav-item to="/About">About</b-nav-item>
        <b-nav-item to="/Demo">Demo</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
    <keep-alive>
    <router-view/>
    </keep-alive>
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState(['status'])
  }
}
</script>
